<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <swiper-container
  [pagination]="true"
  >
    <swiper-slide *ngFor="let slide of slides; let i = index">
      <h1 class="titulo_slide">{{slide.title}}</h1>
      <img src={{slide.image}}>
      <p [innerHTML]="slide.description">{{slide.description}}</p>
      <p class="texto_ayuda">{{slide.texto_ayuda}}</p>
        <ion-button class="iniciar" (click)="goToHome()" *ngIf="i==2">INICIAR</ion-button>
        <ion-button class="omitir" (click)="goToHome()" fill="outline" *ngIf="i==0">Omitir</ion-button>
    </swiper-slide>
  </swiper-container>
</ion-content>
