<ion-split-pane contentId="content">
  <ion-menu contentId="content" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title class="titulo" >Menu</ion-title>
        <ion-buttons slot="end">
          <ion-button icon-only (click)="closeMenu()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon name="list-outline"></ion-icon>
          Lista de Eventos
        </ion-item>
        <ion-item (click)="Regitrar()">
          <ion-icon name="person-add-outline"></ion-icon>
          Registrarme
        </ion-item>
        <ion-item>
          <ion-icon name="cog-outline"></ion-icon>
          Ajustes
        </ion-item>
        <ion-item (click)="logout()">
          <ion-icon name="log-out"></ion-icon>
          Cerrar Sesión
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>