<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <swiper-container
  [pagination]="true"
  >
    <swiper-slide>
      <h1 class="titulo_slide">Tu Pasaporte al Entretenimiento</h1>
      <img src="../../assets/images/image1.png">
      <p>Bienvenido a nuestra aplicación, Descubre la comodidad de comprar tus boletas de cine en un solo lugar 
        evitando las colas y asegurando tu asiento 
        en cada función.</p>
      <p class="texto_ayuda">Desliza para continuar</p>
    </swiper-slide>
    <swiper-slide>
      <h1 class="titulo_slide">Navegación Sencilla, Experiencia Completa</h1>
      <img src="../../assets/images/image2.png">
      <p>Explora nuestra interfaz intuitiva diseñada pensando en ti. Desde la selección de películas hasta la compra de boletas, 
        cada paso es claro y eficiente.</p>
      <p class="texto_ayuda">Desliza para continuar</p>
    </swiper-slide>
    <swiper-slide>
      <h1 class="titulo_slide">Boletas al Instante, Sin Estrés</h1>
      <img src="../../assets/images/image3.png">
      <p>Olvídate de las preocupaciones al comprar tus boletas. Con nuestra aplicación, disfruta de una venta de boletas sin complicaciones. 
        Elige tus películas favoritas, selecciona tu asiento preferido y asegura tu lugar para vivir momentos inolvidables en el cine <br><br>
        ¡La magia del cine comienza aquí!</p>
      <ion-button>iniciar</ion-button>
    </swiper-slide>
  </swiper-container>
</ion-content>
