#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ion-content, ion-item{
  --background: white;
}

.encab{
  color: #09152c;
  font-family: 'Lucida Sans', sans-serif;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  margin: 5px;
}

ion-toolbar{
  --background: #09152c;
}

.title{
  color: #0fdcab;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
  font-size: 20px;
}

ion-menu-button{
  color: #0fdcab;
}

ion-list{
  --border-color: #09152c;
}

h2{
  color: #0fdcab;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

p{
  color: #09152c;
  text-align: justify;
  font-weight: bold;
}

img{
  font-size: 100px;
}