ion-content{
    --overflow: hidden;
    --ion-background-color: white;
    
}

img{
    --overflow: hidden;
    width: 190px; 
    height: auto;
}

h1{
    padding-top: 5px;
    color: #524dff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

p{
    padding-top: 5px;
    color: #524dff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
}

ion-item {
    --background:white;
    padding: 5px;
    padding-top: 0;
    --border-radius: 10px;

    color: #524dff;

    --border-radius: 10px;
    --border-color: #9b7bff;
    --border-width: 2px;
}

.validation_message{
    font-size: 12px;
    font-family: Verdana, Tahoma, sans-serif;
    color: red;
    font-weight: bold;
}

.validation_messages{
    font-size: 12px;
    font-family: Verdana, Tahoma, sans-serif;
    padding-top: 1px;
    color: green;
    font-weight: bold;
}

ion-button {
    --background: #524dff;
    --background-activated: #9b7bff;
  
    --color:  white;
    font-weight: bold;
  
    --border-radius: 10px;
    --border-color: #524dff;
  
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25), 0 0 0 2px #524dff;

  
    --padding-top: 10px;
    --padding-bottom: 10px;

    padding-top: 1px;
  }  
  
a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    color: #524dff;
    font-weight: bold;
  }