ion-content{
    --overflow: hidden;
    --ion-background-color: #09152c;
    
}


h1{
    padding-top: 5px;
    color: #0fdcab;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 50px;
}

p{
    padding-top: 5px;
    color: #0fdcab;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
}

ion-item {
    --background:#09152c;
    padding: 5px;
    padding-top: 5px;
    --border-radius: 10px;

    color: #0fdcab;

    --border-color: #0fdcab;
    --border-width: 2px;
}

.validation_message{
    font-size: 12px;
    font-family: Verdana, Tahoma, sans-serif;
    color: red;
    font-weight: bold;
}

.validation_messages{
    font-size: 12px;
    font-family: Verdana, Tahoma, sans-serif;
    padding-top: 1px;
    color: green;
    font-weight: bold;
}

ion-button {
    --background: #09152c;
    --background-activated: #09152c;
  
    --color:  #0fdcab;
    font-weight: bold;
  
    --border-radius: 10px;
    --border-color: #0fdcab;
  
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25), 0 0 0 2px #0fdcab;

  
    --padding-top: 10px;
    --padding-bottom: 10px;

    padding-top: 1px;
    margin: 15px;
  }  
  
a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    color: #0fdcab;
    font-weight: bold;
  }

  .input-container {
    position: relative;
  }

  .icono_ojo{
    font-size: 23px;
    position: absolute;
    right: 23px;
    top: 28%;
    color: #0fdcab;
    z-index: 1;
    cursor: pointer;
  }
